  <%#= turbo_frame_tag 'domains' do %>
    <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Domain Name</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Registrant name</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">State</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Expire Date</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
              <%= render @domains %>
          </tbody>
      </table>
    </div>

    <div class="flex justify-center mb-10">
      <% if @pagy_domain.pages > 1 %>
        <div class="footer flex text-center mt-4">
          <%== pagy_nav(@pagy_domain)%>
        </div>
      <% end %>
    </div>
  <%# end %>