<div>
  <%= @form.label @attribute, class: 'block text-sm font-medium text-gray-700' %>
  <div class="mt-1 shadow-md rounded-md">
    <%= @form.text_area @attribute, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border border-gray-300', data: @data_attributes, rows: 4 %>
  </div>
</div>
