<div class="relative flex items-start">
  <div class="flex h-5 items-center">
    <%= form.check_box attribute, { class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500", checked: value }, "true", "false" %>
  </div>
  <div class="ml-3 text-sm">
    <%= form.label label_name, class: 'font-medium text-gray-700' %>
    <p id="comments-description" class="text-gray-500"><%= description %></p>
  </div>
</div>