# Be sure to restart your server when you modify this file.

app_name: 'EPP Registrant'
show_ds_data_fields: 'false'
default_nameservers_count: '2'
default_admin_contacts_count: '1'
session_timeout: '1800' # seconds

# epp_hostname: 'localhost'
epp_hostname: 'epp_proxy'
epp_port: '700'
# repp_url: 'http://localhost:8080/repp/v1/'
repp_url: 'http://registry:3000/repp/v1/'

cert_path: 'spec/support/fixtures/certificates/webclient.crt.pem'
key_path: 'spec/support/fixtures/certificates/webclient.key.pem'
# ca_key_password: 123456

registrar_tara_identifier: ''
registrar_tara_secret: ''
user_tara_identifier: ''
user_tara_secret: ''

secret_key_base: ''

sikideq_username: admin
sikideq_password: password
tara_scope: ['idcard', 'mid', 'smartid']
tara_keys: '{"kty":"RSA","n":"iVKwG5cTHFx60wYLndRLlzlvH9m2XsVaWh0LQFcvQBCcUMXjCYQRJ22sLjAz6fvig83dWcoKQVanZfzNGAqG_I54LIVT6oUZxFgCA1cyFKELaCqnpzQa3m7CBOklQUV7Z6Dtj1bMJiMIaEv8lzhtKmqkC6o2xjTWIbVCBublwF0DH5SsVdeX-kC4aJtYCbhsuYuzrn4VpR33NuvLxOBPHDVCMYImxlYU337uf6DjmdZMV96ODqP7E9iMS3GWk_MJEzrgLU7_7JiO3OWtkBUNspZ7pgNdIc6OQ5ZASfWsUufS44kt1fNmPqowklHCRNqcnFOx0lc7ya_VlCdXV6Qfew","e":"AQAB"}'
tara_issuer: 'https://test-auth.eeid.ee/hydra-public/'
tara_discovery: true
tara_scheme: 'https'
tara_host: 'test-auth.eeid.ee/hydra-public'
tara_port: # optional
tara_jwks_uri: '/.well-known/jwks.json'
tara_token_endpoint: '/oauth2/token'
tara_auth_endpoint: '/oauth2/auth'
tara_base_redirect_url: 'https://st-eedirekt.infra.tld.ee'
tara_redirect_path: '/tara/callback'

everypay_key: ""
api_username: ''
everypay_base: https://igw-demo.every-pay.com/api/v4
account_name: 'EUR3D1'
