<div class='p-3 mt-8 border rounded bg-indigo-50' id='dashboard-notification'>
  <h2 class='mt-8 font-bold text-center' id='notification-header'><%= t('.notification_title') %> (<%= @notifications_count %>)</h2>

  <% if @notification.present? %>
    <%= render partial: 'dashboards/notifications/message', locals: { notification: @notification } %>
  <% else %>
    <%= render partial: 'dashboards/notifications/no_message' %>
  <% end %>
</div>
