<div class='container mx-auto'>
  <h2><%= t('.title') %></h2>

  <%= form_with model: @domain, url: registrar_domains_path, class: 'flex flex-col mt-8 space-y-3 items-center' do |form| %>
      <%= render 'form', form: form %>

      <%= form.submit t('.create'), class: 'px-3 py-1 rounded-md text-white bg-indigo-400 hover:bg-indigo-500 cursor-pointer' %>
  <% end %>
</div>

<style>
  .autocomplete-results {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  .autocomplete-results li {
    padding: 5px 10px;
    cursor: pointer;
  }
  .autocomplete-results li:hover {
    background-color: #eee;
  }
</style>
